body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
}

#upload-container {
    margin-bottom: 20px;
}

input[type="file"] {
    display: block;
    margin-bottom: 10px;
}

#uploadButton {
    display: block;
    margin-top: 10px;
}

#song-list {
    margin-top: 20px;
}
